html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}

.form {
	position: fixed;
	left: 15px;
	bottom: 15px;
	z-index: 2;
	// display: none;

}
input, button {
	margin: 2px;
	padding: 5px 10px;
	width: 50px;
	margin-right: 10px;
}
input[type=button], button {
	width: 100px;
}
input[type=button]:hover {
	cursor: pointer;
}
.container {
	margin: 80px auto;
	width: 500px;
	height: 500px;
	border: 2px solid #888;
	border-radius: 50%;
}
.space {
	position: fixed;
	width: 100%;
	height: 100%;
}

.trajectory {
	position: relative;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	border-radius: 50%;
}

.c {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.c1 {
	background: red;
	top: -25px;
	left: 225px;
}
.c2 {
	background: red;
	top: 225px;
	right: -25px;
}
.c3 {
	background: blue;
	bottom: -25px;
	right: 225px;
}


