html, body {
	padding: 0;
	margin: 0;
}

.container {
	margin: 80px auto;
	width: 500px;
	height: 500px;
	border: 2px solid #888;
	border-radius: 50%;
}
.space {
	position: absolute;
	width: 100%;
	height: 100%;
}

.trajectory {
	position: relative;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	border-radius: 50%;
}
.trajectory1 {
	-webkit-transition: all 5s; /* Safari */
    transition: all 5s;
}
.trajectory2 {
	-webkit-transition: all 3s; /* Safari */
    transition: all 3s;
}
.c {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: red;
}
.c1 {
	background: orange;
	top: 48px;
	left: 48px;
}
.c2 {
	background: navy;
	top: 48px;
	right: 48px;
}